{:paths ["src/main/clj"]
 :deps {org.clojure/tools.logging {:mvn/version "1.2.4"}
        ch.qos.logback/logback-classic {:mvn/version "1.4.7"}
        org.clj-commons/byte-streams {:mvn/version "0.3.2"}}
 
 :aliases
 {;; To build uberjar: clojure -T:build uber
  :build
  {:extra-paths ["src/build"]
   :deps {io.github.clojure/tools.build {:mvn/version "0.9.4"}}
   :ns-default build}

  :test
  {:extra-deps {lambdaisland/kaocha {:mvn/version "1.84.1335"}}
   :extra-paths ["src/test"]
   :main-opts ["-m" "kaocha.runner"]}

  :watch
  {:main-opts ["-m" "kaocha.runner" "--watch"]}

  ;; For GraalVM native build
  :native
  {:extra-deps {com.github.clj-easy/graal-build-time {:mvn/version "0.1.4"}}}}}
